@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* layers base */
@layer base {
  /* normal */
  :root {
    font-size: 14px;
    --primary-font: "Noto Kufi Arabic", "tahoma", "arial", sans-serif;
    --scrollbar-size: 12px;

    --scrollbar-area-color: #e0e0e0;
    --scrollbar-thumb-color: #c0c0c0;

    /* header */
    --header-height: 4rem;

    /* color sheme */
    /* text color */
    --primary-text: #191920;
    --secondary-text: #788995;
    --muted-text: #dde3e8;

    /* grays */
    --primary-gray: 0 0% 95%;
    --secondary-gray: 216 20% 95%;
    --bluish-gray: 220 50% 98%;

    /* backdrop and overlaping elements */
    --overlap-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
      0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    --backdrop-light-color: rgba(244, 244, 244, 0.8);
    --backdrop-dark-color: rgba(0, 0, 0, 0.3);

    /* errors */
    --error: 0 75% 55%;

    /* success */
    --success: 127 37% 53%;

    /* warning */
    --warning: 32 92% 51%;

    /* bg */
    --body-bg-color: #f7f7f7;

    /* inputs */
    --input-bg-color: 0 0% 100%;
    --input-border-color: 210 14% 84%;
    --input-disabled-color: 216 20% 95%;

    /* card */
    --card-bg-color: 0 0% 100%;
    --card-border-color: 255 6% 86%;
    --card-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, 0.1);

    /* border */
    --border-color: 210 14% 84%;
  }

  /* dark */
  :root[class="dark"] {
    --scrollbar-area-color: #444444;
    --scrollbar-thumb-color: #101010;

    /* text color */
    --primary-text: #f9f9f9;
    --secondary-text: #788995;
    --muted-text: #666666;

    /* grays */
    --primary-gray: 0 0% 16%;
    --secondary-gray: 230 14% 33%;
    --bluish-gray: 220 50% 98%;

    /* backdrop and overlaping elements */
    --overlap-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
      0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    --backdrop-light-color: rgba(0, 0, 0, 0.5);
    --backdrop-dark-color: rgba(244, 244, 244, 0.8);

    /* errors */
    --error: 0 75% 55%;

    /* success */
    --success: 127 37% 53%;

    /* warning */
    --warning: 32 92% 51%;

    /* inputs */
    --input-bg-color: 231 22% 24%;
    --input-border-color: 230 22% 34%;
    --input-disabled-color: 230 14% 30%;

    /* bg */
    --body-bg-color: #25293c;

    /* card */
    --card-bg-color: 231 22% 24%;
    --card-border-color: 230 22% 34%;
    --card-shadow: 0 0.25rem 1.25rem rgba(15, 20, 34, 0.4);

    /* border */
    --border-color: 210 14% 84%;
  }

  /* themes */
  /* default */
  :root[data-theme="default"] {
    /* primary */
    --primary-main: 201 58% 44%;
    /* secondary */
    --secondary-main: 36 99% 49%;
  }

  html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: var(--primary-font), ui-sans-serif, system-ui, arial,
      sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
}

/* layer component */
@layer components {
  /* progress */
  .rn-progress + .rn-progress {
    @apply mt-2;
  }

  /* ======================= react-select */
  .react-select .select__control {
    @apply border-0 cursor-text bg-transparent ;
  }
  .react-select .select__control--is-focused {
    @apply border-0 shadow-none;
  }
  .react-select
    .select__control
    .select__value-container
    .select__single-value {
    @apply mx-2.5 leading-tight text-primary-text
  }
  .react-select
    .select__control
    .select__value-container .select__placeholder {
      @apply px-2.5
  }
  .react-select .select__control .select__dropdown-indicator {
    @apply border-0 !text-secondary-text -mt-3;
  }
  .react-select .select__control .select__indicator-separator {
    @apply w-0;
  }
  /* menu */
  .react-select .select__menu,
  .select__menu-portal .select__menu {
    @apply bg-card-bg-color text-primary-text rounded-lg py-1 border border-border-color/50 shadow-md ;
  }
  .react-select .select__menu .select__option,
  .select__menu-portal .select__menu .select__option {
    @apply py-3 px-3 my-px;
  }
  .react-select .select__menu .select__option.select__option--is-focused,
  .select__menu-portal .select__menu .select__option.select__option--is-focused {
    @apply bg-primary-gray cursor-pointer hover:bg-secondary-gray ;
  }
  .react-select .select__menu .select__option.select__option--is-disabled,
  .select__menu-portal .select__menu .select__option.select__option--is-disabled {
    @apply text-muted-text cursor-not-allowed;
  }
  .react-select .select__menu .select__option.select__option--is-selected,
  .select__menu-portal .select__menu .select__option.select__option--is-selected {
    @apply bg-secondary-gray text-primary  hover:text-primary hover:bg-secondary-gray;
  }
  /* ======================= end react-select */
}

/* input number apperance */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ================== end ============= */

/* =================================================================================== */
/* start hover card global styles */
.card-hover-wrapper {
  /* max-height: var(--radix-hover-card-content-available-height); */
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.card-hover-wrapper .card-hover-content {
  max-height: var(--radix-hover-card-content-available-height);
}
.card-hover-wrapper[data-side="top"] {
  animation-name: slideDownAndFade;
}
.card-hover-wrapper[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.card-hover-wrapper[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.card-hover-wrapper-animation[data-side="left"] {
  animation-name: slideRightAndFade;
}
@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* end hover card gobal styles */
/* =================================================================================== */

/* =================================================================================== */
/* start Popover global styles */
.popover-wrapper[data-header-present="true"] .popover-content {
  padding: 1.25rem;
  max-height: calc(var(--radix-popover-content-available-height) - 48px);
}
.popover-wrapper[data-header-present="false"] .popover-content {
  padding: 1.25rem;
  max-height: var(--radix-popover-content-available-height);
}
/* end hover card gobal styles */
/* =================================================================================== */

/* =================================================================================== */
/* start dropdown global styles */
.dropdown-menu-wrapper[data-header-present="true"] .dropdown-menu-content {
  max-height: calc(var(--radix-dropdown-menu-content-available-height) - 48px);
}
.dropdown-menu-wrapper[data-header-present="false"] .dropdown-menu-content {
  max-height: var(--radix-dropdown-menu-content-available-height);
}
/* end hover card gobal styles */
/* =================================================================================== */

/* =================================================================================== */
/* start scrollarea global styles */
.ScrollAreaRoot {
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: transparent;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  border-radius: var(--scrollbar-size);
  padding: 2px;
  background: var(--scrollbar-area-color);
  /* opacity: .5; */
  transition: background 160ms ease-out;
}
.ScrollAreaScrollbar:hover {
  background: var(--scrollbar-area-color);
}
.ScrollAreaScrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}
.ScrollAreaScrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  margin-top:10px;
  height: 10px;
}
.ScrollAreaThumb {
  flex: 1;
  background: var(--scrollbar-thumb-color);
  border-radius: 12px;
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.ScrollAreaCorner {
  background: rgba(0, 0, 0, 0.6);
}
/* end ScrollAreaRoot gobal styles */
/* =================================================================================== */
